<div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/images/innerpagee.jpg" class="img-responsive">
            <div class="container">
              <div class="carousel-caption carousel-captionn">
                <h1>About Us</h1>
              </div>
            </div>
          </div>
      
        </div>
      
        <div class="clearfix"></div>
      
        <div class="container">
      
          <div class="row">
            <div class="mt-top-about">
              <img class="img-responsive  img-responsive" src="../assets/images/Hero_1.jpg">
            </div>
      
          </div>
      
        </div>
        <section class="wht-box">
          <div class="container">
            <div class="row text-center">
      <div class="main_title mt_wave ">
      <h2 class="pack-title">We are the GoL Team</h2>
      </div>
      <p style="text-align:justify;">GoL (Go Lakshadweep) Travels Private Limited, a Government Authorized Travel Agent (ATA) is a Private Limited Company registered at Thoppumpady, Kochi, Kerala and a major travel tour provider for Lakshadweep. Gol is a digital platform to connect tourists with holiday services providers in the U.T. of Lakshadweep. Our corporate office is functioning at Pallichal Road, Thoppumpady, Kochi with well competent team with full back-end support. Traveling to Lakshadweep is not a quick and easy process, we have developed this platform to facilitate booking a travel to Lakshadweep as easy as booking any other tourist destination in the world. We are on phase I of our business and phase II will see more features and added attractions for tourists in the very near future.   </p><br>
      <p style="text-align:justify;">We are the One and Only native islander’s platform operating <b>Web Portal</b> along with <b>GoL Android Mobile App</b> connecting service providers to tourists. Our mission is to showcase the beauty of these exotic islands, which is equal to or better than many exotic beach destinations, to the world. Even Indians would be surprised to see this kind of stunning beauty in their own country. It has been a lesser known destination due to its geographical and social uniqueness. It is our pleasure to be the first in digitalizing travel process exclusively to the islands of Lakshadweep.</p><br>
      <p style="text-align:justify;">
          Our platform also provides individual Island supports for your travel, making it an even more relaxed holiday for you while we take care of the government stipulated requirements and other local travel assistance.
      </p><br>
      <p style="text-align:justify;">
          We invite you to explore our site either by individual <b>Island Stays</b> or by <b>Package Tours</b> offered.
      </p><br>
      <p style="text-align:justify;">
          Wish you a happy and adventurous holiday in one of the most exotic beach destinations of the world
      </p>
      
      <!-- <a href="#/contact" style="color: #24b7a9;">Contact us</a> -->
      </div>
      </div>
                <!-- <br>
              <a href="#/contact" style="color: #24b7a9;">Contact us</a></p> -->
      
           
        </section>
      
      
        <div class="clearfix"></div><br>
      </div>