<div class="carousel-inner">
    <div class="item active">
      <img src="../assets/images/innerpagee.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption carousel-captionn">
          <h1>Change Password</h1>
        </div>
      </div>
    </div>

  </div>
 <section class="bg1"> 
    <div class="login-page1">

      <div class="login-logo1">
        <h2>Change Password</h2>
      </div>

      <div class="form1 form2">
        <form class="login-form" [formGroup]="ChangePassForm" (ngSubmit)="submit()">
          <div class="row">
              <div class="col-md-offset-2 col-md-8">
                  <label>Old Password</label>
                  <input [type]="showpass ? 'text' : 'password'" name="oldpassword" formControlName="oldpassword" required 
                     class="span3" placeholder="Old Password">
                     <span *ngIf="!showpass"><a (click)="passwordToggle()"><i class="fa fa-eye passEye1" aria-hidden="true"></i></a></span>
                     <span *ngIf="showpass"><a (click)="passwordToggle()"><i class="fa fa-eye-slash passEye1" aria-hidden="true"></i></a></span>
                  
                    <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.oldpassword.errors.required">Old Password is required</div>
                     
                  </div>
                </div>
            <div class="col-md-offset-2 col-md-8">
              <label>New Password</label>
              <input [type]="shownewpass ? 'text' : 'password'"  name="passwordnew" formControlName="password" required 
                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$" class="span3" placeholder="New Password">
                <span *ngIf="!shownewpass"><a (click)="passwordNewToggle()"><i class="fa fa-eye passEye1" aria-hidden="true"></i></a></span>
                <span *ngIf="shownewpass"><a (click)="passwordNewToggle()"><i class="fa fa-eye-slash passEye1" aria-hidden="true"></i></a></span>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">New Password is required</div>
                  <div *ngIf="f.password.errors.pattern">New Password (UpperCase, LowerCase, Number,SpecialChar , min 6 Chars and 20 max Chars)</div>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-8">
              <label>Confirm Password</label>
              <input [type]="showconfirmpass ? 'text' : 'password'" type="password" name="confirmpass" formControlName="confirmPassword" required  class="span3" placeholder="Confirm Password">
              <span *ngIf="!showconfirmpass"><a (click)="passwordConfirmToggle()"><i class="fa fa-eye passEye1" aria-hidden="true"></i></a></span>
              <span *ngIf="showconfirmpass"><a (click)="passwordConfirmToggle()"><i class="fa fa-eye-slash passEye1" aria-hidden="true"></i></a></span>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            </div>
          </div>
  
   
          <div class="clearfix"></div><br clear="all">
  
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <button class="btn-default for-btn">
                Submit
              </button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
</section> 

