<body class="bg1">
 
        <div class="login-page1">
         <!-- <div class="login-logo1">
           <h2>Confirm</h2>
         </div> -->
         <!-- <div class="form1">
           <form class="login-form">
             <div class="row">
               <div class="col-md-2"></div>
               <div class="col-md-2"><img src="../assets/img/email.png" class="confirmimg"></div>
               <div class="col-md-6">
                 <div class="congrts">Congratulations</div>
                 <div class="confirm">Your Email is Confirmed</div>
               </div>
             </div>
           </form>
       
         </div> -->
       </div>
       </body>